{% extends 'app1/base.html' %}
{% load static %}

{% block content %}
    <div class="container card shadow-lg  my-5" style="width:40vw;height: 50vh;  ">
        <h1 style="position: relative;bottom: 4px; display: flex;justify-content: center;align-items: center;margin-bottom: 30px;"> Food Data</h1>

        <form method="POST" enctype="multipart/form-data">
            {{form.as_p}}

            {% csrf_token %}

            <input type="submit" value="Add Food" class="btn btn-outline-info"
                style="width: 100%;text-align: center;font-size: 20px;font-weight: 700;">
        </form>

        <div class="my-2" style="display: flex;justify-content: center ; width: 100%;align-items: center;">  
            <a href="/list" class="btn btn-outline-info" >Food List</a>
        </div>
    </div>

    {% endblock %}

